{% extends "students/base.html" %}

{% block body %}
<h3 class="m-4">All students</h3>
      <div class="row">
        <div class="col-12">
            {% if students %}
            <div class="card bg-light ms-4 mb-4">
                <div class="card-header"> <a class="nav-link" href="#"> <i class="fa-solid fa-list fa-lg"></i> students records</a></div>
                <div class="card-body">
                  <p class="card-text">
                   <div class='table-responsive'>
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Student Number</th>
                            <th scope="col">first name</th>
                            <th scope="col">last name</th>
                            <th scope="col">email</th>
                            <th scope="col">field of study</th>
                            <th scope="col">gpa</th>
                            <th scope="col">actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for student in students  %}
                            <tr>
                                <td>{{student.student_number}}</td>
                                <td>{{student.first_name}}</td>
                                <td>{{student.last_name}}</td>
                                <td>{{student.email}}</td>
                                <td>{{student.field_of_study}}</td>
                                <td>{{student.gpa}}</td>
                                <td>
                                  <button class="btn btn-success me-1" href='{% url "view_student" student.id %}' data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}"><i class="fa-solid fa-circle-info fa-lg"></i></button>
                                  
                                  
                                  <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title"> Student: {{student.first_name}} {{student.last_name}}</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <p>Student Number:<b>{{student.student_number}}</b></p>
                                          <p>First name:<b>{{student.first_name}}</b></p>
                                          <p>Last name:<b>{{student.last_name}}</b></p>
                                          <p>Email:<b>{{student.email}}</b></p>
                                          <p>Field of study:<b>{{student.field_of_study}}</b></p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <a class="btn btn-warning me-1" href="{% url 'edit' student.id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                                  <button class="btn btn-danger me-1" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}"><i class="fa-solid fa-trash fa-lg"></i></button>


                                  <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title"> Student: {{student.first_name}} {{student.last_name}}</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <p>Are you sure ?!!</p>
                                        </div>
                                        <div class="modal-footer">
                                          <form action={% url 'delete' student.id %} method='POST'>
                                              {% csrf_token %}
                                              <button type="submit" class="btn btn-primary">Delete</button>
                                          </form>
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                   </div>
                  </p>
                </div>
              </div>
            {% else %}
            <h3 class="alert alert-primary ms-4 me-4">No Student Records</h3>
            {% endif %}
          
{% endblock body %}

